* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
main {
    background-color: rgb(185, 20, 80);
    height: 100vh;
}
.text_bordeaux {
    color: rgb(185, 20, 80);
}
.border_bordeaux {
    border: 1px solid rgb(185, 20, 80);
}